{% extends "base.html.twig" %}

{% block body %}




    <div class="head-title mb-5">
        <h2 class="position-absolute">Profile</h2>
    </div>

    <div class="w-75 m-auto">
        <div class="row">
            <div class="col-4">
                <h5 class="mb-3">Modifier mon profil:</h5>
                {% include "user/_form.html.twig" %}
            </div>
            <div class="col"></div>
            <div class="col-7">
                <div class="d-flex align-items mb-3">
                    <h5>Mes sujets :</h5>
                    <a href="{{ path('forum_topics_new') }}" class="btn btn-success ml-auto">Nouveau sujet</a>
                </div>
                <div class="profile-topics-wrap">
                    <table class="table table-striped table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Sujets</th>
                                <th scope="col">Réponses</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user_topic in user_topics %}	
                                <tr>		
                                    <td>
                                        <a style="color: white;" href="{{ path('forum_topics_show', {'id': user_topic.id}) }}">{{ user_topic.title }}</a> 
                                        <p class="card-text"><small class="text-muted">Le {{ user_topic.createdAt | date('d/m/Y') }}</small></p>
                                    </td>
                                    <td>{{ user_topic.forumComments | length }}</td>					
                                </tr>			
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
